body{
    margin: 0;
    padding: 0;
    background-color: rgb(154, 214, 214);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner{   
    padding: 20px 10px 50px 10px;
    background-color: #fff;
    max-width: 326px;
}

.title{
    font-size: 1.7rem; 
    font-weight: 600;
    text-align: center; 
    line-height: 1.8rem;
    margin: 0;
    margin: 35px 0;
    color: #000;
}
.descr{
    font-size: 1.3rem; 
    text-align: center; 
    line-height: 1.4rem;
    color: #9b9999
}
img{
    display: block;
    width: 100%;
    height: 100%; 
    border-radius:0 0 5% 5%; 
}